/*.log
/target
/*-init.clj
/resources/public/js/compiled
/resources/public/prod/js/compiled
/dev-resources
/nashhorn_code_cache
/node_modules
out
*.swp
.nrepl-port
.lein-repl-history
.lein-failures
.rebel_readline_history
